pre {
    margin: 0;
}

pre:not(:last-child) {
    margin-bottom: 1rem;
}

h1, code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

h1 { text-align: center; }

.content {
    width: 1200px;
    margin: 0 auto;
}

.sample {
    display: grid;
    grid-auto-flow: column;
    gap: 5%;
    grid-template-columns: 40% 60%;
}

.sample-wrapper:not(:first-child) {
    margin-top: 5rem;
}

.right {
    border: solid 1px gray;
}
